/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");

/* Variables */

:root {
  --color-yellow: #f4d04e;
  --color-grey-95: #111111;
  --color-grey-5: #6b6b6b;
  --color-white: #fff;
  --font-family: "Figtree", serif;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-yellow);
  font-family: var(--font-family);
  line-height: 150%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card */

.card {
  background-color: var(--color-white);
  border-radius: 20px;
  border: 1px solid var(--color-grey-95);
  box-shadow: 9px 9px 0px 0px rgba(0, 0, 0);
  width: 327px;
  padding: 2.4rem;
}

.card__img {
  border-radius: 10px;
  display: block;
  width: 100%;
  margin-bottom: 2.4rem;
}

.card__tab {
  color: var(--color-grey-95);
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--color-yellow);
  margin-bottom: 1.2rem;
  display: inline-block;
  padding: 0.4rem 1.2rem;
}

.card__date {
  color: var(--color-grey-95);
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.card__link {
  color: var(--color-grey-95);
  text-decoration: none;
  display: block;
  margin-bottom: 1.2rem;
}

.card__link:hover {
  color: var(--color-yellow);
}

.card__link h1 {
  font-size: 2rem;
}

.card__description {
  color: var(--color-grey-5);
  line-height: 150%;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__author img {
  height: 32px;
  margin-right: 1.2rem;
}

.card__author p {
  color: var(--color-grey-95);
  font-size: 1.4rem;
  font-weight: 900;
}

@media (min-width: 1400px) {
  .card {
    width: 384px;
    padding: 2.4rem;
  }

  .card__tab {
    font-size: 1.4rem;
  }

  .card__date {
    font-size: 1.4rem;
  }

  .card__link h1 {
    font-size: 2.4rem;
  }
}
